/**
 * Place your custom styles here.
 */

body, caption, th, td, input, textarea, select, option, legend,
fieldset, p, span, ul, li, a, div
{
  font-family: 'Comfortaa', cursive !important;
}

body
{
  font-weight: normal;
  background-color: white;
  color: black;
}

a,
a:link,
a:visited
{
  /*
    Using inline-block causes the link to adjust its height to the tne entire content.
  */
  display: inline-block;

  text-decoration: none;
  font-style: normal;
  font-weight: bold;

  /*
    From https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
  */
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

a:active, a:hover
{
  color: darkgrey;
}

.btn
{
  background-color: #0B93D5;
  color: whitesmoke;
}

.btn:hover
{
  background-color: darkgrey;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Header
*/

nav.navbar .container,
nav.navbar .container .row,
#block-barrio-child-headerblock
{
  width: 100%;
}

#block-barrio-child-headerblock
{
  line-height: 1.0;
}

#block-barrio-child-headerblock .slogan
{
  padding: 20px 0 10px 0;
  text-align: center;
  padding-left: 40px;
  font-style: italic;
  color: white;
}

#block-barrio-child-headerblock .slogan a
{
  color: white;
  font-size: 3.0vw;
  text-shadow: grey 0.05em 0.05em 0.09em;
}

/*
  Must go after .slogan a. Otherwise .slogan a takes precedent and the title color will not change on hover.
*/
#block-barrio-child-headerblock .slogan a:active,
#block-barrio-child-headerblock .slogan a:hover,
#block-barrio-child-headerblock .slogan a:focus
{
  text-decoration: none;
  color: #0B93D5;;
}

#block-barrio-child-headerblock .author
{
  font-size: 1.75vw;
  color: #CCCCCC;
  text-align: center;
}

@media (min-width: 992px)
{
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Footer
*/

.site-footer .content a:active,
.site-footer .content a:hover,
.site-footer .content a:focus
{
  text-decoration: none;
  color: #0B93D5;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Slogan
*/

#block-slogan-2
{
  display: none;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Contact Form
*/

.captcha .panel-heading
{
  display: none;
}

#contact-message-feedback-form label
{
  display: none;
}

/*----------------------------------------------------------------------------------------*/
/*
  Carousel
*/
#carousel_quotes_block
{
  height: 200px;
  background: #BBBBBB;
  text-align: center;
}

/*----------------------------------------------------------------------------------------*/
/*
  Ajax
*/

#ajax-loading
{
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1100;
  width: 3.0rem;
  height: 3.0rem;
  top: 15px;
  border-radius: 15px;
  margin: 0 auto;
  display: none;
  background-color: white;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

#ajax-loading .text-info
{
  /*
    Important is still needed to override .text-info, but it is limited to #ajax-loading
  */
  color: #002C54 !important;
}

/*----------------------------------------------------------------------------------------*/
/*
  jQuery UI
*/

.ui-dialog .ui-dialog-content
{
  padding: 15px;
}

.ui-widget.ui-widget-content
{
  border: none;
}

/*----------------------------------------------------------------------------------------*/
